<div class="cardHeader" style="margin: 2% 0;">
    <!-- Filters for food -->
    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showBreakfasts" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Breakfasts
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showLunch" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Lunch
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showSnacks" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Snacks
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showCereals" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Cereals
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showFruits" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Fruits
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showCookies" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Cookies
        </label>
    </div>

</div>

<div class="cardHeader" style="margin: 2% 0;">
    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showChoclates" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Chocolates
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showOtherFoods" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Other Food
        </label>
    </div>
    <!-- Bebidas -->

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showWaters" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Waters
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showJuices" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Juices
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showSodas" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Sodas
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="showOtherBeverages" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Others Drinks
        </label>
    </div>

</div>