<head>
    <title>Documentation</title>
</head>


{% include ('templates/header.html') %}


<body>

    <style>
        h1 {
            display: block;
        }

        .card h1 {
            text-align: center;
        }

        .cardBox .card {
            padding: 5%;
            border-radius: 25px;
        }

        body {
            margin: 2%;
        }
    </style>

    <div class="cardBox cardBoxOne">
        <div class="card">
            <h1>Documentation</h1>

            <h4><strong>Please do not add any personal information and be respectful with the information you
                    provide</strong></h4>
            <br>
            <h2>What is in this project?</h2>
            <br>

            <h3>Resume:</h3>

            <p>The resume of the stock that is currently in the pantry</p>

            <br>

            <h3>Food section:</h3>

            <p>A more detailed view of the food that is currently in the pantry</p>
            <p>Here you can:</p>
            <p><strong>Look for the differents dates to see what food was in the pantry on that date</strong></p>
            <p><strong>Decrease the actual stock of the pantry's food</strong></p>
            <p><strong>Increase the actual stock of the pantry's food</strong></p>
            <p><strong>Add new foods</strong></p>
            <p><strong>Delete foods</strong></p>

            <br>

            <h3>Drink section:</h3>

            <p>A more detailed view of the drinks that is currently in the pantry</p>
            <p>Here you can:</p>
            <p><strong>Look for the differents dates to see what drinks was in the pantry on that date</strong></p>
            <p><strong>Decrease the actual stock of the pantry's drinks</strong></p>
            <p><strong>Increase the actual stock of the pantry's drinks</strong></p>
            <p><strong>Add new drinks</strong></p>
            <p><strong>Delete drinks</strong></p>

            <h3>People section:</h3>

            <p>A more detailed view of the people attendance</p>
            <p>Here you can:</p>
            <p><strong>View the total attendance</strong></p>
            <p><strong>Modify the current attendance</strong></p>
            <p><strong>Add new attendance</strong></p>

            <h3>Reports section:</h3>

            <p>Where you can get reports to share them</p>
            <p>Here you can:</p>
            <p><strong>View the different averages in a selected date</strong></p>
            <p><strong>View the different averages between two dates</strong></p>

            <h3>Notes:</h3>
            <p><strong>There is information between 1/1/2022 and 1/28/2022</strong></p>
            <p><strong>You will be able to see information after those dates but it will not change, also have in count
                    that to be able to calculate the avergares, the date(s) you selected must have an attendance
                    set</strong></p>

        </div>
    </div>

</body>