{% include('templates/pantry_header.html') %}
{% include('templates/header.html') %}

{% include('templates/pantry_options.html') %}

<style>
    .peopleNotification {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardInput {
        position: relative;
        background: var(--white);
        padding: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: auto;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    }

    .cardBox .cardInput .letter {
        position: relative;
        font-weight: 500;
        font-size: 2.5em;
        color: var(--blue);
    }

    form {
        padding-left: 350px;
    }
</style>

<script src="{{url_for('static', filename='js/datesManager.js')}}" defer></script>

{% block people %}

<body onload="daysOptionsManager(0), selectedOptionsDependingOnDate('{{day}}', '{{month}}', '{{year}}')">
    <div class="main">

        {% if not asistance_added and current_user.level != 1: %}
        <div class="cardBox peopleNotification">
            <div class="card" id="addTodaysAsistance">
                <div>
                    <div class="numbers" style="padding-left: 300px;">
                        <h1">Add Attendance</h1>
                    </div>
                </div>
            </div>

            <div class="cardInput invisible" id="addTodaysAsistanceInput" style="position: absolute;">
                <div>
                    <form action="{{url_for('people')}}" method="post">
                        <input type="number" min="0" value="0" style="height: 35px;" name="totalPeople"
                            id="totalPeople">
                        <button class="btn btn-success">Accept</button>

                        <div class="dateInput" style="margin-top: 10%;">
                            {% with submit_button=False, numberInput=0 %}
                            {% include('templates/inputs_for_date.html') %}
                            {% endwith %}
                        </div>

                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="details">
            <!-- order details list -->

            <div class="ItemsDetails">
                <div class="cardHeader">
                    <h2>Attendance</h2>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Day</td>
                            <td>Attendance</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% with weekday = None, date='' %}

                        {% for n in range(people_data|length): %}
                        {% set weekday = people_data[n].date|jinja_get_weekday %}
                        {% set date=people_data[n].date %}
                        <tr>
                            <td>{{date.strftime('%d')}}-{{date.strftime('%m')}}-{{date.strftime('%Y')}}</td>
                            <td>{{weekday}}</td>
                            <td><span class="status food">{{people_data[n].total}}</span></td>
                        </tr>
                        {% endfor %}

                        {% endwith %}


                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <script>
        document.getElementById('addTodaysAsistance').addEventListener('click', function (e) {
            document.getElementById('addTodaysAsistanceInput').classList.remove('invisible');
            document.getElementById('addTodaysAsistanceInput').style.removeProperty('position');
        });
    </script>

</body>



{% endblock %}
{% include('templates/pantry_footer.html') %}